<div class="content centered">
        <h2 class="top">Users</h2>
        <div class="userSearch">
          <form class="form-search">
            <input type="text" class="input-large search-query" placeholder="Search in users">
            <button type="submit" class="btn">Search</button>
          </form>
          <div class="pagination pagination-right">
            <ul>
              <li class="disabled"><a href="#">Prev</a></li>
              <li class="active"><a href="#">1</a></li>
              <li><a href="#">2</a></li>
              <li><a href="#">3</a></li>
              <li><a href="#">4</a></li>
              <li><a href="#">5</a></li>
              <li><a href="#">Next</a></li>
            </ul>
          </div>
        </div>
        <div class="tableStatus">
          <p class="currentSearchTerm muted">Currently displaying all users</p>
          <p class="currentSearchMetrics muted">Showing 50 of 4211 users</p>
        </div>
        <table class="table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Last seen</th>
              <th>Signup date</th>
              <th>State</th>
              <th>Password</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>hello@alexfeyerke.com</td>
              <td>2 hours ago</td>
              <td>17.06.12</td>
              <td>confirmed</td>
              <td>resend / new</td>
              <td>edit / delete</td>
            </tr>
            {{#each users}}
            <tr>
              <td>{{name}}</td>
              <td>{{lastLogin}}</td>
              <td>{{signedUpAt}}</td>
              <td>{{state}}</td>
              <td>resend / new</td>
              <td>edit / delete</td>
            </tr>
            {{/each}}
          </tbody>
        </table>
        <div class="tableStatus">
          <p class="currentSearchTerm muted">Currently displaying all users</p>
          <p class="currentSearchMetrics muted">Showing 50 of 4211 users</p>
        </div>
        <div class="userSearch">

        <div class="pagination pagination-right">
          <ul>
            <li class="disabled"><a href="#">Prev</a></li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li><a href="#">Next</a></li>
          </ul>
        </div>
        </div>
      </div>
